
.contenedorForm {
    text-align: center;
    /* background: rgb(255, 255, 255);
    background: linear-gradient(130deg, rgba(255, 255, 255, 1) 38%, rgba(125, 148, 59, 1) 66%); */
    background-image: url('https://st3.depositphotos.com/1194063/16112/i/600/depositphotos_161128296-stock-photo-ingredients-for-homemade-green-basil.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.btnRegresar {
    font-size: 16px;
    margin: 8px;
    padding: 2px 8px;
    border-radius: 8px;
    color: white;
    background: rgba(40, 47, 57, 1)
}

.h2 {
    background: rgba(40, 47, 57, 0.6);
    color: white
}

label{
    color: white
}

.btnRegresar:hover {
    background: red
}

.containerDivForms {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

}

.formRecipe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0 0 40%;
}

.formRecipe label {
    font-size: 22px;
    font-family: bold;
}

.title {
    width: 100%;
    font-size: 16px;
    margin-bottom:5px
}

.formRecipe textarea {
    width: 100%;
    font-size: 16px;
}

.divCheck{
    display: flex;
    align-items: center;
    width: 224px;
}

.formChecks{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.labelCheck{
    margin: 0 0 0 5px;
}

.types{
    margin-bottom: 8px;
}

.btnDiv{
    width: 100%;
    justify-content:center
}

.btnSubmit {
    font-size: 16px;
    margin: 18px;
    padding: 4px 18px;
    border-radius: 8px;
    color: white;
    background: rgba(40, 47, 57, 1)
}

.btnSubmit:hover{
    background-color: rgba(125, 148, 59, 0.9);
}

/* .btn {
    padding: 4px 24px;
    border-radius: 14px;
    background-color: #2797DB;
    color: #fff;
    margin-top: 12px;
} */

.btn2{
    font-size: 16px;
    margin: 18px;
    padding: 4px 18px;
    border-radius: 8px;
    color: rgb(255, 255, 255, 0.3);
    background: rgba(96, 96, 99, 0.3);
}

:focus-visible{
    outline: 3px solid rgb(166, 197, 81);
}

.errorname{
    color: rgb(219, 84, 84);
    font-size: 22px
}