.contenedorCards{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center
}

.loading{
    display:flex;
    justify-content: space-around;
    position:relative;
    left:102%;
    margin: 10px
}