.root {
    padding: 20px 20px;
  }
  
  .ball {
      composes: bounce from "./animations.module.css";
      width: 25px;
      height: 25px;
      border-radius: 20px;
      background: rgb(146, 182, 46);
  
  }