/* .fondo {
    background: rgb(36, 48, 60);
    background: radial-gradient(circle, rgba(36, 48, 60, 0.9363095580028886) 14%, rgba(125, 148, 59, 1) 68%, rgba(36, 48, 60, 1) 91%);
    height: 100vh;
    text-align: center;
}

.fondo p {
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 34%;
    color: #fff;
}

p {
    font-size: 38px;
    font-family: fantasy;
}

.link {
    color: #fff;
    text-decoration: none;
    pointer-events: auto
}

.link:hover {
    color: #24303c;
} */


.externo{
    background: rgb(40, 47, 57,1);
    width: 100%;
    height:auto;
    position: absolute;
    background-image: url('https://st3.depositphotos.com/1194063/16112/i/600/depositphotos_161128296-stock-photo-ingredients-for-homemade-green-basil.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titulo{
    text-align: center;
    color: #fff;
    background-color: rgb(118, 143, 51);
    border-top: 7px solid rgb(86, 107, 28);
    width:880px;
    margin: 12px auto;
    border-radius: 8px;
    padding:2px 16px;
}

.divMenu{
    border-bottom: 3px solid rgba(125, 148, 59, 0.9);
}

.parrafo{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: rgb(118, 143, 51);
    border-top: 7px solid rgb(86, 107, 28);
    width:880px;
    margin: auto;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
}

.parrafo a{
    text-decoration: none;
    pointer-events:all;
    color: #363638;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
}

.parrafoFinal{
    margin-bottom:30px
}

.icons{
    display: flex;
    font-size: 50px;
    margin: 5px 10px;
    justify-content: center

}

.iconInter{
    margin: 0 16px;
}

.footer{
    width: 100%;
    position: relative;
    bottom: 0;
}
